#top_nav{
    background-color:#daac00 !important;
    padding: 0 8%;
}


.nav-link {
    display: block;
    padding-left: 25px;
    font-size: 20px;
    font-weight: var(--bs-nav-link-font-weight);
    color: rgb(255 255 255 / 97%);
    text-decoration: none;
    padding-left: 25px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

#searchbox{
    background-color: #fcc302;
    color: white;
    border: 0px;
    border-radius: 0px;
    box-shadow: 5px 10px 11px 0px #00000021;
    position: relative;
    left: 47px;
}
#searchbox::placeholder{
    color: white;
}

#searchbtn{
    position: relative;
    z-index: 99;
    background-color: #00bec9;
    color: white;
    border: 0px;
    border-radius: 0px;
}

@media only screen and (max-width:768px){
    #searchform{
        margin-bottom: 30px;
        margin-top: 20px;
        position: relative;
        left: -20px;
    }
}

@media only screen and (max-width:500px){
    #top_nav{
        padding: 0;
    }
}

/* banner */
#banner{
    background-color: #fcc302;
    padding-bottom: 20px;
}

#bannertext h1{
    color: white;
    font-size: 70px;
    margin-top: 100px;
}

#bannertext p{
    color: white;
    font-size: 20px;
    margin-top: 30px;
}

#banner-btn-1{
    background-color: #00bec9;
    color: white;
    border: 2px solid #00bec9;
}

#banner-btn-2{
    color: white;
    border: 2px solid white;
    margin-left: 15px;
}

@media only screen and (max-width:1300px){
    #bannertext h1{
        font-size: 55px;
    }
    #banner{
        padding-bottom: 70px;
    }
}

@media only screen and (max-width:890px){
    #bannertext h1{
        font-size: 45px;
    }
    #banner{
        padding-bottom: 70px;
    }
}

/* service */

#service-text{
    padding-top: 10%;
    padding-bottom: 5%;
}

#service-btn{
    color: white;
    background-color: #fcc302;
    border: 2px solid #fcc302;
}

#service-img img{
    margin-top: 30px;
    padding: 5%;
}

/* counter section */
#counter-section{
    background-image:url(/man-with-dog_prev_ui.png);
    background-color:#daac00;
    padding-top: 50px;
    padding-bottom: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.counter-icon{
    font-size: 70px;
}

@media only screen and (max-width:500px){
    .counter-icon{
        font-size: 50px;
    }

}





